extends layout
include ./utils.jade

block content

    div.container-fluid(id='announcementsFilter-containerFluid-div')
        form(action='/announcements/find', method='get')
            div.form-group
                input.form-control(type='text', placeholder='Qual a categoria?', name='searchCat')
            div.form-group
                input.form-control(type='text', placeholder='O que procura?', name='searchTitle')
            div.form-group
                input.form-control(type='text', placeholder='Onde procura?', name='searchPlace')
            button(class='btn btn-default', type='submit') Procurar

    div.container-float
        div.row(id='annoucements-margin-top')
            div.col-md-5(id='annoucements-table-col')
                +lista(list)
                div(style='float: right')
                    if total > 1
                        ul.pagination
                            if page > 1
                                li
                                    a(href='/announcements?page=' + (+page - 1))
                                        span.glyphicon.glyphicon-arrow-left
                            if total > page
                                li
                                    a(href='/announcements?page=' + (+page + 1))
                                        span.glyphicon.glyphicon-arrow-right

//list, user, page