extends layout
include ./utils.jade

block content
	div.container-float
		div.row(style='margin-top: 100px')
			div.col-md-5
				//user queixinhas table
				+lista(queixasuser, 'Minhas Queixinhas')
			div.col-md-1
			div.col-md-5
				//followes queixinhas table
				+lista(queixasinterested, 'Queixinhas Favoritas')