extends layout
include ./utils.jade

block content
	div.container-fluid
		div.row(id='annoucements-margin-top')
			div.col-md-5
				+lista(annUser, 'Os Meus Anuncios')
			div.col-md-1
			div.col-md-5
				+listafav(annFavorite, annFavNotif, 'Anuncios Favoritos')