extends layout
include ./utils.jade

block content
	div.container-fluid
		div.row(style='margin-top: 100px')
			div.col-md-5
				+lista(annUser, 'Os Meus Anuncios')
			div.col-md-1
			div.col-md-5

				+lista(annFavorite, 'Anuncios Favoritos')