doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        div
            nav.navbar.navbar-fixed-top.row(id = 'layout-nav-bar')
                div.container-fluid
                        //left side header
                        div.navbar-header(id='layout-nav-bar-space')
                            ul.nav.navbar-nav
                                li
                                    a(class='navbar-brand', href='/')= title + ' - Home Page'
                                if !user || !user.username
                                    li
                                        a(class='navbar-brand', href='/loginReg') Login/Registar
                                li
                                    a(class='navbar-brand', href='/announcements') Lista
                                if user && user.username
                                    li
                                        a(class='navbar-brand',href='/announcements/dashboard') Favoritos
                                    li
                                        a(class='navbar-brand',href='/announcements/new') Novo Anúncio
                                    li
                                        p(class='navbar-text') Bem-Vindo, #{user.username}
                                    li
                                        form(action='/logout', method='post')
                                            button(id='layout-li-button-logout', class='btn btn-default', type='submit') Sair


        block content

        footer(class='footer')
                p(id='footer-text') Copyright by João de Deus & Pedro Duarte