doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        div()
            nav.navbar.navbar-fixed-top.row(id = 'nav-bar')
                div.container-fluid
                    //left side header
                    div.navbar-header(id='nav-bar-space')
                        //title
                        a(class='navbar-brand', href='/')= title + ' - Home Page'
                        a(class='navbar-brand', href='/loginReg') Login/Registar
                        a(class='navbar-brand', href='/announcements') Lista
                        if user && user.username
                            li
                                a(href='/announcements/dashboard') Dashboard
                                a(href='/announcements/new') Novo Anúncio
                                form(action='/logout', method='post')
                                p(style='display: inline') Bem-Vindo #{user.username}
                                div.form-group
                                    button(class='btn btn-default mybutton outbutton') <strong>Sair</strong>

        block content

        div.container
            footer
                div.container
                    p Copyright by João de Deus & Pedro Duarte