doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        div
            nav.navbar.navbar-fixed-top.row(id = 'layout-nav-bar')
                div.container-fluid
                        //left side header
                        div.navbar-header(id='layout-nav-bar-space')
                            ul.nav.navbar-nav
                                li
                                    a(class='navbar-brand', href='/')= title + ' - Home Page'
                                if !user
                                    li
                                        a(class='navbar-brand', href='/loginReg') Login/Registar
                                li
                                    a(class='navbar-brand', href='/announcements') Lista
                                if user && user.username
                                    li
                                        a(class='navbar-brand',href='/announcements/dashboard') Dashboard
                                    li
                                        a(class='navbar-brand',href='/announcements/new') Novo Anúncio
                                    li
                                        div.btn-group
                                            button.btn.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Bem-Vindo, #{user.username}
                                                span.caret
                                            ul.dropdown-menu
                                                    li
                                                        a(href='/logout')
                                                            strong Sair

        block content

        footer(class='footer')
                p(id='footer-text') Copyright by João de Deus & Pedro Duarte