//
   Created by João on 20/07/2015.
extends layout

block content

    div.container-fluid(id='loginReg-containerFluid-title-div')
        h1 Registo ou Login Chelas LX
        mixin TopicInfo(text)
            li #{text}
        ul#info
            +TopicInfo("Faca aqui o Registo caso ainda nao seja utilizador.")
            +TopicInfo("Pode fazer login caso ja tenha conta registada.")

    div.container-fluid(class='loginReg-containerFluid-div')
      div.col-md-5
            if !user || !user.username
                     form(action='/login', method='post')
                        div.form-group
                           input.form-control(type='text', placeholder='Nome', name='username', required)
                        div.form-group
                           input.form-control(type='password', placeholder='Password', name='password', required)
                        button(class='btn btn-default', type='submit') Entrar
                        a(class='btn btn-success mybutton', href='/register', role='button', style='margin-left: 50px') Registar
                     a(class ='btn', href='/recover') Esqueceu a sua password?