extends layout

block content

    div.container-fluid()
        div.panel.panel-info(style='margin-top: 100px')
            form(action='/announcements/new', method='post')
                div.form-group
                    textarea.form-control(id='', type='text', placeholder='Título', name='titulo', style='resize: none', required)
                div.form-group
                    textarea.form-control(id='', type='text', placeholder='Descrição', name='desc', style='resize: none', required)
                div.form-group
                    textarea.form-control(id='',type='text', placeholder='Categoria', name='categoria', style='resize: none', required)
                div.form-group
                    textarea.form-control(id='',type='text', placeholder='Localização', name='localizacao', style='resize: none', required)
                div.form-group
                    textarea.form-control(id='',type='text', placeholder='Preço', name='preco', style='resize: none', required)
                button(class='btn btn-success', type='submit') Submeter
                //div.form-group
                    input.form-form-control(id='',type='file', placeholder='Imagem', name='imagem')

