extends layout

block content

    div.container-fluid(id='annoucements-margin-top')
        h1 Dados para Colocar um anuncio no Chelas LX
        mixin TopicInfo(text)
            li #{text}
        ul#info
            +TopicInfo("Preencha com um titulo adequado ao que quer vender.")
            +TopicInfo("Coloque uma dercrição que descreva bem o seu produto.")
            +TopicInfo("Categoria em que se insere o produto a vender.")
            +TopicInfo("Local de venda do produto.")
            +TopicInfo("Preco adequado a qualidade do produto.")


    div.container-fluid
        div.col-md-5(id='annoucements-margin-top')
            form(action='/announcements/new', method='post')
                div.form-group
                    input.form-control(type='text', placeholder='Título', name='titulo', required)
                div.form-group
                    input.form-control(type='text', placeholder='Descrição', name='desc', required)
                div.form-group
                    input.form-control(type='text', placeholder='Categoria', name='categoria', required)
                div.form-group
                    input.form-control(type='text', placeholder='Localização', name='localizacao', required)
                div.form-group
                    input.form-control(type='text', placeholder='Preço', name='preco', required)
                div.form-group
                    label(id='newannouncement-label') Imagem:
                        input.form-control(type='file', name='imagem')
                button(class='btn btn-success', type='submit') Submeter


