extends layout

block content

    div.container-fluid()
        div.col-md-offset-3.col-md-6
            div.panel.panel-info(style='margin-top: 100px')
                div.panel-body
                    form(action='/announcements/new', method='post')
                        div(style='margin-bottom: 2%; height 150%')
                            textarea.form-control(type='text', placeholder='Título', name='titulo', style='resize: none', required)
                        div(style='margin-bottom: 2%')
                            textarea.form-control(type='text', placeholder='Descrição', name='desc', style='resize: none', required)
                        div(style='margin-bottom: 2%')
                            textarea.form-control(type='text', placeholder='Categoria', name='categoria', style='resize: none', required)
                        div(style='margin-bottom: 2%')
                            textarea.form-control(type='text', placeholder='Localização', name='localizacao', style='resize: none', required)
                        div(style='margin-bottom: 2%')
                            textarea.form-control(type='text', placeholder='Preço', name='preco', style='resize: none', required)
                        button(class='btn btn-success', type='submit') Submeter