extends layout

block content
	div(id='recover-margin-top')
		h4 Recuperação da Password
	div.container
		div.col-md-offset-3.col-md-6
			//tabela registo
			div.panel.panel-info(id='recover-margin-top')
				div.panel-body
					form(action='/recover', method='post')
						div(id='margin-button-recover')
							input.form-control(type='text', placeholder='Nome', name='username', required)
						div(id='margin-button-recover')
							input.form-control(type='email', placeholder='Email', name='email', required)
						button(class='btn btn-success', type='submit') Confirmar