
extends layout
include ./utils.jade
block content
   div.container-fluid(id='announcementsFilter-containerFluid-div')
      form(action='/announcements/find', method='post')
         div.form-group
            input.form-control(type='text', placeholder='Qual a categoria?', name='searchCat')
         div.form-group
            input.form-control(type='text', placeholder='O que procura?', name='searchTitle')
         div.form-group
            input.form-control(type='text', placeholder='Onde procura?', name='searchPlace')
         button(class='btn btn-default', type='submit') Procurar