body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: black;
    padding: 25px 45px;
    font-size: 150%;
    font-weight: bold;
}

h3{
    background-color: lightgreen;
    padding: 5px;
}

#index-containerFluid-div{
    margin-top: 50px;
}

#layout-nav-bar {
    background-color: lightblue;
    height:9vh;
}

#layout-nav-bar-space{
    float: left;
    padding: 2%;
    width: 100%;
}

#layout-li-button-logout{
    margin-left: 30%;
}

#loginReg-containerFluid-title-div{
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 10%;
}

.loginReg-containerFluid-div{
    margin-top: 2%;
    margin-left: 35%;
    margin-right: 10%;
}

.recover-margin-top{
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 10%;
}

#announcementsFilter-containerFluid-div{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 10%;
}

#annoucements-table-col{
    left: 25%;
}

#annoucements-margin-top{
    margin-top: 2%
}

#newannouncement-div{
    resize: none;
}

#register-containerFluid-div{
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 10%;
}

#margin-button-recover{
    margin-bottom: 2%;
}

#newannouncement-containerFluid-title-div{
    margin-top: 10%;
}

#newannouncement-label{
    font-weight: bold;
}

#edit-containerFluid-title-div{
    margin-top: 3%;
    margin-left: 35%;
    margin-right: 10%;
}

#edit-containerFluid-title-div{
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 10%;
}

#edit-containerFluid-div{
    margin-left: 40%;
    margin-right: 10%;
}

.edit-textarea{
    resize: none;
}

.footer{
    position:fixed;
    bottom:0;
    width:95%;
    background-color: lightblue;
}

#footer-text{
    margin-left: 40%;
    margin-right: 5%;
}